.contact-container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    grid-area: 12%;
    gap: 5rem;
}
.contact-options{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;

}
.contact-option{
    background-color: rgb(123, 139, 139);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact-option:hover{
    background: transparent;
    border-color: blue;
}
.contact_option_icons{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.contact-option a{
    margin-top: .7rem;
    display: inline-block;
    font-size: .8rem;
}
form{
display: flex;
flex-direction: column;
gap: 2rem;
}
input,textarea{
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    background: transparent;
    border: 1px solid black;
    resize: none;
    color: blueviolet;
}
button.btn.btn-secondary{
    width: 10rem;
    margin-bottom: 95px;
    height: 2rem;
    background-color:chartreuse;

}