footer{
    background-color:plum;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}
footer a{
    color: blue;
}
.footer-logo{
font-size: 2rem;
font-weight: 500;
margin-bottom: 1rem;
display: inline-block;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 1.5rem;
}
.footer_social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.footer_social a{
    background-color: antiquewhite;
    color: black;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}